@charset "utf-8";
/* 
   Code By One+ IT Solution
   E-Mail: sahoo100@gmail.com/ admin@oneplusitsolution.com
   Onrelease: 10Aug 2013
 */
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video 														{ border: 0 none; font: inherit;margin: 0; padding: 0; vertical-align: baseline;} 
body, html, tr, td, ul, li, span, p, h1, h2, h3, h4, h5, table, div, th, input, select	{ font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; color:#666666; font-size:12px; text-align:justify;}

footer:before, header:after, menu, nav:before, nav:after, output, ruby, section, .social_icon ul, .wrapper:before, .wrapper:after{ clear:both; content: ""; display: table;}

/************ -------------- common -----------------**************/
body, html, ul, li										{margin:0px;padding:0px;}
.fl_lft, .searchfrm, .searchfrm nav						{float:left}
.fl_rht, .hm_login, .add_cart, .searchbanner			{float:right}
.clear													{clear:both; display:block}

/************ -------------- margin/ padding -----------------**************/
.padd_5,.hm_login										{padding:5px}
.padd_10												{padding:10px}
.mar_5													{margin:5px}
.mar_10													{margin:10px}

/************ -------------- border -----------------**************/
.brdall													{border:1px solid #dbdbdb}
.brdred													{border:1px solid #b20808}
.brdyell												{border:1px solid #fca703}

/************ -------------- font color -----------------**************/
.fc_black												{color:#000000}
.fc_gray												{color:#999999}
.fc_red, .error_msg										{color:#c30303}
.fc_orange												{color: #ef7f07}

/************ -------------- background color -----------------**************/


/************ -------------- font size -----------------**************/
.fs_14{font-size:14px}
.fs_18{font-size:18px}



.fullwidth, .header, .footer, .content, header, footer, article, nav, .search_blk
														{width:960px; margin:0px auto;}
header img												{padding:10px 0px;}
.hm_login												{border: 1px #b20808; border-style:none solid solid solid; 
														 background: #999; /* for non-css3 browsers */
														filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0'); /* for IE */
														background: -ms-linear-gradient(top,  #fdfcfc,  #f2f0f0);
														background: -webkit-gradient(linear, left top, left bottom, from(#fdfcfc), to(#f2f0f0)); /* for webkit browsers */
														background: -moz-linear-gradient(top,  #fdfcfc,  #f2f0f0); /* for firefox 3.6+ */
														color: #ad0b01; padding:10px 15px; border-radius:0px 0px 20px 20px;
														-moz-border-radius: 0px 0px 20px 20px; -webkit-border-radius:0px 0px 20px 20px;
														}
.hm_login span											{font-size:16px; color:#ad0b01}
.hm_login span a										{color:#999999; font-size:20px; text-decoration:none; padding:0px 5px;}
.hm_login span.sign										{background:url("../images/icon.png") repeat scroll -386px -202px transparent; padding-right:20px}
nav												     	{border: 1px solid #cccccc; background: #999; /* for non-css3 browsers */
														filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e8e8e8'); /* for IE */
														background: -ms-linear-gradient(top,  #fcfcfc,  #e8e8e8);
														background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8)); /* for webkit browsers */
														background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8); /* for firefox 3.6+ */
														color: #ad0b01; margin:15px auto;}
.nav ul 												{list-style:none; float:left}
.nav ul li												{margin:0px; float:left; border-right:1px solid #e8e8e8;}
.nav ul li a											{padding:10px; display:inline-block; text-decoration:none; font-size:14px; color:#5f5c5c}
.nav ul li a:hover, .nav ul li .active a				{color:#b30805}
ul.cal_us											    {list-style:none; margin:0 0 0 20px}	
ul.cal_us li											{padding:5px; float:left; color:#333333; font-size: 14px;}
ul.cal_us li a											{color:#333333; text-decoration:none;}
ul.cal_us li.phone										{background:url("../images/icon.png") repeat scroll -454px -367px transparent; padding-left:25px;}
ul.cal_us li.mail										{background:url("../images/icon.png") repeat scroll -447px -316px transparent; padding-left:32px;}

/********************* ----------------  form/ button/ field  ----------------- **********************/
.add_cart												{background:url("../images/icon.png") repeat scroll -736px -107px transparent; border:none; padding:6px 14px 5px 40px; font-weight:bold; color:#400404; margin:3px 5px; font-size:14px; width:125px;}
.add_cart:hover									  {color:#fec844;}

.social_icon									  {position:fixed; top:200px; right:0px; width:20px; border:1px #d9170e; border-style: solid none solid solid; padding:5px; border-radius: 6px 0px 0px 6px; -moz-border-radius: 6px 0px 0px 6px; -webkit-border-radius:6px 0px 0px 6px; background: -ms-linear-gradient(left, #FFFFFF 0%, #ebebeb 100%); background: -moz-linear-gradient(left, #FFFFFF 0%, #ebebeb 100%);background: -o-linear-gradient(left, #FFFFFF 0%, #ebebeb 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #ebebeb)); background: -webkit-linear-gradient(left, #FFFFFF 0%, #ebebeb 100%); background: linear-gradient(to right, #FFFFFF 0%, #ebebeb 100%); -moz-box-shadow: 0 0 8px #888; -webkit-box-shadow: 0 0 8px #888; box-shadow: 0 0 8px #888;}
.social_icon ul									  {list-style:none}
.social_icon ul li a							  {border-bottom:1px solid #666666; margin:2px; text-decoration:none; padding:11px 10px; display: block;}
.social_icon ul li span							  {display:none}
.social_icon ul li.fb a   						  {background:url("../images/icon.png") repeat scroll -952px -16px transparent;}
.social_icon ul li.tw a   						  {background:url("../images/icon.png") repeat scroll -952px -73px transparent;}
.social_icon ul li.gle a   					      	  {background:url("../images/icon.png") repeat scroll -952px -103px transparent;}
.social_icon ul li.del a						  {background:url("../images/icon.png") repeat scroll -952px -134px transparent; border:none}
.social_icon ul li.flk a						  {background:url("../images/icon.png") repeat scroll -952px -45px transparent;}

/***************** ----------------- content part --------------------- *******************************/
.wrapper										 {}
.search_blk .searchfrm							 {width:510px}	
.searchbanner									 {padding:5px; border:1px solid #ccc; width:420px; height:326px;}	
.search_text 									 {padding-left:40px; background:url("../images/icon.png") no-repeat scroll -446px -268px; margin:5px 0px 0px}
.search_text h2									 {font-size:20px; color:#fec844; font-weight:bold}
.search_text h3									 {font-size:13px; color:#716e6e; font-weight:normal}
.searchfrm nav									 {border:none; width:510px; margin:0px; background:none;}
.searchfrm nav ul								 {list-style:none; height:50px; background: #999; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba2625', endColorstr='#7a0a07'); background: -ms-linear-gradient(top,  #ba2625,  #7a0a07); background: -webkit-gradient(linear, left top, left bottom, from(#ba2625), to(#7a0a07)); background: -moz-linear-gradient(top,  #ba2625,  #7a0a07);}
.searchfrm nav ul li							 {float:left; padding:5px 0xp; height:50px; border-right:1px solid #ffffff;}
.searchfrm nav ul li a							 {padding:16px 5px; color:#000000;text-decoration:none; font-weight:bold; font-size:14px; display:inline-block} 
.searchfrm nav ul li .resi, .searchfrm nav ul li 	 {border-right:1px solid #ffffff;}

